<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="user" type="org.nrg.xnat.workflows.flowable.data.security.UserPrincipal"*/-->
<!--/*@thymesVar id="endPoints" type="java.util.Set"*/-->
<head th:include="navigation :: headerFragment">
    <title id="pageTitle" th:text="#{endpoints.title}">Users</title>
</head>

<body>

<nav th:include="navigation :: topbar"/>

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h3 class="text-center login-title" th:text="'Welcome ' + ${user.username}"></h3>
            <div class="account-wall">
                <p>You have the following roles:</p>
                <div th:if="${user.authorities != null}">
                    <h4>Result</h4>
                    <ul>
                        <th:block th:object="${user}">
                            <li th:each="authority : *{authorities}" th:text="${authority}"></li>
                        </th:block>
                    </ul>
                </div>
            </div>
            <div>
                <table id="end-points" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>path</th>
                            <th>methods</th>
                            <th>consumes</th>
                            <th>produces</th>
                            <th>params</th>
                            <th>headers</th>
                        </tr>
                    </thead>
                    <tbody>
                        <th:block th:each="endPoint : ${endPoints}">
                            <tr>
                                <td th:text="${endPoint.patternsCondition}"></td>
                                <td th:text="${endPoint.methodsCondition}"></td>
                                <td th:text="${endPoint.consumesCondition}"></td>
                                <td th:text="${endPoint.producesCondition}"></td>
                                <td th:text="${endPoint.paramsCondition}"></td>
                                <td th:text="${endPoint.headersCondition}"></td>
                            </tr>
                        </th:block>
                    </tbody>
                </table>
            </div>

            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Sign Out"/>
            </form>
        </div>
    </div>
</div>

<div th:include="navigation :: scripts"/>

<script>
    $(document).ready(function () {
        $('#end-points').DataTable();
    });
</script>

<nav th:include="navigation :: footer"/>

</body>
</html>
