<!--/*@thymesVar id="user" type="org.nrg.xnat.workflows.flowable.data.security.UserPrincipal"*/-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:include="navigation :: headerFragment">
    <title id="pageTitle" th:text="#{groups.title}">Users</title>
</head>
<body>

<nav th:include="navigation :: topbar"/>

<div sec:authorize="!hasAuthority('administrator')">
    <p th:text="#{groups.denied}">You don't have access to view this page.</p>
</div>
<div sec:authorize="hasAuthority('administrator')">
    <div class="container">
        <div class="row">
            <div class="col-lg-14">
                <div class="account-wall">
                    <table id="groups" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <caption th:text="#{groups.table.caption}">Projects</caption>
                        <thead>
                        <tr>
                            <th th:text="#{groups.table.column.name}">Name</th>
                            <th th:text="#{groups.table.column.description}">Description</th>
                            <th th:text="#{groups.table.column.users}">Users</th>
                            <th th:text="#{groups.table.column.roles}">Roles</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th th:text="#{groups.table.column.name}">Name</th>
                            <th th:text="#{groups.table.column.description}">Description</th>
                            <th th:text="#{groups.table.column.users}">Users</th>
                            <th th:text="#{groups.table.column.roles}">Roles</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<nav th:replace="navigation :: scripts"/>

<script>
    $(document).ready(function () {
        $('#groups').on('init.dt', function() {
            $('.data-newgroup')
                .attr('data-toggle', 'modal')
                .attr('data-target', '#groupEditModal');
        });
        $('#groups').DataTable({
            ajax: {url: "/idm/groups", dataSrc: ""},
            dom: 'Bfrtip',
            buttons: [
                {
                    text: 'New group',
                    action: function ( e, dt, node, config ) {
                    },
                    className: 'btn btn-toolbar data-newgroup'
                }
            ],
            columns: [
                {data: "name"},
                {data: "description"},
                {data: "users"},
                {data: "roles"}
            ],
            columnDefs: [
                {
                    targets: 0,
                    data: "name",
                    render: function (data, type, row, meta) {
                        return '<button class="btn btn-sm btn-link" data-toggle="modal" data-target="#groupEditModal">' + data + '</button>';
                    }
                },
                {
                    targets: 2,
                    data: "users",
                    render: function (data) {
                        return data.map(function (user) {
                            return user.username;
                        }).join(", ");
                    }
                },
                {
                    targets: 3,
                    data: "roles",
                    render: function (data) {
                        return data.map(function (role) {
                            return role.name;
                        }).join(", ");
                    }
                }
            ]
        });
    });
</script>

<!-- Modal -->
<div class="modal fade" id="groupEditModal" tabindex="-1" role="dialog" aria-labelledby="groupEditModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h5 class="modal-title" id="groupEditModalLabel" th:text="#{groups.edit.title}">Group</h5>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <label for="name" th:text="#{group.edit.label.name}">Name</label>
                        <input type="text" class="form-control" id="name" th:placeholder="#{group.edit.placeholder.name}" placeholder="Enter group name"/>
                    </div>
                    <div class="form-group">
                        <label for="description" th:text="#{group.edit.label.description}">Description</label>
                        <input type="text" class="form-control" id="description" th:placeholder="#{group.edit.placeholder.description}" placeholder="Enter a description"/>
                    </div>
                    <div class="form-group">
                        <label for="users" th:text="#{group.edit.label.users}">Users</label>
                        <input type="text" class="form-control" id="users" th:placeholder="#{group.edit.placeholder.users}" placeholder="Start typing a user name..."/>
                    </div>
                    <div class="form-group">
                        <label for="roles" th:text="#{group.edit.label.roles}">Roles</label>
                        <input type="text" class="form-control" id="roles" th:placeholder="#{group.edit.placeholder.roles}" placeholder="Start typing a role name..."/>
                    </div>
                </form>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" th:text="#{group.edit.button.save}">Save changes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{group.edit.button.close}">Close</button>
            </div>
        </div>
    </div>
</div>

<footer th:replace="navigation :: footer"/>

</body>
</html>
