<!--/*@thymesVar id="param" type="java.util.Map"*/-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="navigation :: headerFragment">
    <title id="pageTitle" th:text="#{login.title}">Users</title>
</head>
<body>

<div th:if="${param.error}">
    <script>
        $.bootstrapGrowl("Invalid username and password.",
            {
                type: 'danger',
                align: 'center',
                width: 'auto'
            });
    </script>
</div>

<div th:if="${param.logout}">
    <script>
        $.bootstrapGrowl("Invalid username and password.",
            {
                type: 'info',
                align: 'center',
                width: 'auto'
            });
    </script>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h3 class="text-center login-title" th:text="#{login.message}">Sign in to continue to Workbench</h3>
            <div class="account-wall">
                <img class="profile-img"
                     src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                     alt=""/>
                <form class="form-signin" th:action="@{/login}" method="post">
                    <input id="username" name="username" type="text" class="form-control"
                           th:placeholder="#{login.username.placeholder}" required="required" autofocus="autofocus"/>
                    <input id="password" name="password" type="password" class="form-control"
                           th:placeholder="#{login.password.placeholder}" required="required"/>
                    <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{login.submit}">Sign in
                    </button>
                    <label class="checkbox pull-left">
                        <input id="remember-me" type="checkbox" value="remember-me"/><label for="remember-me"
                                                                                            th:text="#{login.rememberme}">Remember
                        me</label>
                    </label>
                    <a href="#" class="pull-right need-help" th:text="#{login.needhelp}">Need help? </a><span
                        class="clearfix"></span>
                </form>
            </div>
            <a href="#" class="text-center new-account" th:text="#{login.createaccount}">Create an account</a>
        </div>
    </div>
</div>

<nav th:replace="navigation :: scripts"/>

</body>
</html>
