<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:fragment="headerFragment">
    <title th:include=":: #pageTitle">Workbench</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" media="screen" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.css}"/>
    <link rel="stylesheet" media="screen" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap-theme.css}"/>
    <link rel="stylesheet" media="screen" th:href="@{http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css}"/>
    <link rel="stylesheet" media="screen" th:href="@{https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css}"/>
    <link rel="stylesheet" media="screen" th:href="@{/webjars/datatables/1.10.15/css/dataTables.bootstrap.css}"/>
    <link rel="stylesheet" media="screen" th:href="@{/webjars/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css}"/>
    <link rel="stylesheet" media="screen" th:href="@{/webjars/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput-typeahead.css}"/>
    <link rel="stylesheet" media="screen" th:href="@{/webjars/jstree/3.3.3/themes/default/style.css}"/>
    <link rel="stylesheet" media="screen" th:href="@{/styles/flowable.css}"/>
</head>

<body>

<div th:fragment="topbar">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only" th:text="#{topbar.togglenavigation}">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" th:text="#{topbar.appname}">Hi there.</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <!-- ul class="nav navbar-nav">
                    <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">Link</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul -->
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" th:placeholder="#{topbar.search.placeholder}"/>
                    </div>
                    <button type="submit" class="btn btn-default" th:text="#{topbar.search.submit}">Submit</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown" sec:authorize="hasAuthority('administrator')">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false" th:text="#{topbar.usersgroupsroles}"> <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/users}" th:text="#{topbar.users}">Users</a></li>
                            <li><a th:href="@{/groups}" th:text="#{topbar.groups}">Groups</a></li>
                            <li><a th:href="@{/roles}" th:text="#{topbar.roles}">Roles</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false" sec:authentication="name"> <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" th:text="#{topbar.preferences}">Preferences</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a th:href="@{/logout}" th:text="#{topbar.logout}"><i class="icon-off"></i> Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>

<div th:fragment="scripts">
    <script th:src="@{/webjars/jquery/3.2.1/jquery.js}"></script>
    <script th:src="@{https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.js}"></script>
    <script th:src="@{/webjars/datatables/1.10.15/js/dataTables.bootstrap.js}"></script>
    <script th:src="@{/webjars/datatables-buttons/1.3.1-1/js/dataTables.buttons.js}"></script>
    <script th:src="@{/webjars/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.js}"></script>
    <script th:src="@{/webjars/bootstrap-growl/2.0.1/bootstrap-growl.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.js}"></script>
    <script th:src="@{/webjars/jstree/3.3.3/jstree.js}"></script>
    <script th:src="@{/js/flowable.js}"></script>
</div>

<div th:fragment="footer">
    <div class="footerfix"></div>
    <footer id="footer" class="navbar navbar-default">
        <ul class="nav navbar-nav navbar-left">
            <li th:text="#{footer.text}"></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li th:text="#{footer.version}"></li>
        </ul>
    </footer>
</div>

</body>
</html>
