<!--/*@thymesVar id="user" type="org.nrg.xnat.workflows.flowable.data.security.UserPrincipal"*/-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="navigation :: headerFragment">
    <title id="pageTitle" th:text="#{preferences.title}">Users</title>
</head>

<body>

<nav th:include="navigation :: topbar"/>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-sm-2 col-sm-offset-2">
            <div class="account-wall">
                <p th:text="#{preferences.roles}">You have the following roles:</p>
                <div th:if="${user.authorities != null}">
                    <h4>Result</h4>
                    <ul>
                        <th:block th:object="${user}">
                            <li th:each="authority : *{authorities}" th:text="${authority}"></li>
                        </th:block>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<nav th:replace="navigation :: scripts"/>

<footer th:replace="navigation :: footer"/>

</body>
</html>
