<!--/*@thymesVar id="user" type="org.nrg.xnat.workflows.flowable.data.security.UserPrincipal"*/-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:include="navigation :: headerFragment">
    <title id="pageTitle" th:text="#{roles.title}">Users</title>
</head>

<body>

<nav th:include="navigation :: topbar"/>

<div sec:authorize="!hasAuthority('administrator')">
    <p th:text="#{roles.denied}">You don't have access to view this page.</p>
</div>
<div sec:authorize="hasAuthority('administrator')">
    <div class="container">
        <div class="row">
            <div class="col-lg-14">
                <div class="account-wall">
                    <table id="roles" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <caption th:text="#{roles.table.caption}">Projects</caption>
                        <thead>
                        <tr>
                            <th th:text="#{roles.table.column.name}">Name</th>
                            <th th:text="#{roles.table.column.reqsobject}">Require Assoc Object?</th>
                            <th th:text="#{roles.table.column.admin}">Admin</th>
                            <th th:text="#{roles.table.column.delete}">Delete</th>
                            <th th:text="#{roles.table.column.create}">Create</th>
                            <th th:text="#{roles.table.column.write}">Write</th>
                            <th th:text="#{roles.table.column.read}">Read</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th th:text="#{roles.table.column.name}">Name</th>
                            <th th:text="#{roles.table.column.reqsobject}">Require Assoc Object?</th>
                            <th th:text="#{roles.table.column.admin}">Admin</th>
                            <th th:text="#{roles.table.column.delete}">Delete</th>
                            <th th:text="#{roles.table.column.create}">Create</th>
                            <th th:text="#{roles.table.column.write}">Write</th>
                            <th th:text="#{roles.table.column.read}">Read</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<nav th:replace="navigation :: scripts"/>

<script>
    $(document).ready(function () {
        var $roles = $('#roles');
        $roles.on('init.dt', function() {
            $('.data-newrole')
                .attr('data-toggle', 'modal')
                .attr('data-target', '#roleEditModal');
        });
        $roles.DataTable({
            ajax: {url: "/idm/templates", dataSrc: ""},
            dom: 'Bfrtip',
            buttons: [
                {
                    text: 'New role',
                    action: function ( e, dt, node, config ) {
                    },
                    className: 'btn btn-toolbar data-newrole'
                }
            ],
            columns: [
                {data: "name"},
                {data: "requireAssociatedObject"},
                {data: "mask"},
                {data: "mask"},
                {data: "mask"},
                {data: "mask"},
                {data: "mask"}
            ],
            columnDefs: [
                {
                    targets: 0,
                    data: "name",
                    render: function (data, type, row, meta) {
                        return '<button class="btn btn-sm btn-link" data-toggle="modal" data-target="#roleEditModal">' + data + '</button>';
                    }
                },
                {
                    targets: 2,
                    data: "mask",
                    render: function (data) {
                        return data.map(function (mask) {
                            return mask & 16;
                        });
                    }
                },
                {
                    targets: 3,
                    data: "mask",
                    render: function (data) {
                        return data.map(function (mask) {
                            return mask & 8;
                        });
                    }
                },
                {
                    targets: 4,
                    data: "mask",
                    render: function (data) {
                        return data.map(function (mask) {
                            return mask & 4;
                        });
                    }
                },
                {
                    targets: 5,
                    data: "mask",
                    render: function (data) {
                        return data.map(function (mask) {
                            return mask & 2;
                        });
                    }
                },
                {
                    targets: 6,
                    data: "mask",
                    render: function (data) {
                        return data.map(function (mask) {
                            return mask & 1;
                        });
                    }
                }
            ]
        });
    });
</script>

<!-- Modal -->
<div class="modal fade" id="roleEditModal" tabindex="-1" role="dialog" aria-labelledby="roleEditModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h5 class="modal-title" id="roleEditModalLabel" th:text="#{roles.edit.title}">Role</h5>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <label for="name" th:text="#{role.edit.label.name}">Name</label>
                        <input type="text" class="form-control" id="name" th:placeholder="#{role.edit.placeholder.name}" placeholder="Enter role name"/>
                    </div>
                    <div class="form-group">
                        <label for="description" th:text="#{role.edit.label.description}">Description</label>
                        <input type="text" class="form-control" id="description" th:placeholder="#{role.edit.placeholder.description}" placeholder="Enter a description"/>
                    </div>
                    <div class="form-group">
                        <label>
                            <input type="checkbox"/> <span th:text="#{role.edit.label.reqsobject}">Requires Associated Object?</span>
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"/> <span th:text="#{role.edit.label.admin}">Admin</span>
                        </label>
                        <label>
                            <input type="checkbox"/> <span th:text="#{role.edit.label.delete}">Delete</span>
                        </label>
                        <label>
                            <input type="checkbox"/> <span th:text="#{role.edit.label.create}">Create</span>
                        </label>
                        <label>
                            <input type="checkbox"/> <span th:text="#{role.edit.label.write}">Write</span>
                        </label>
                        <label>
                            <input type="checkbox"/> <span th:text="#{role.edit.label.read}">Read</span>
                        </label>
                    </div>
                </form>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" th:text="#{role.edit.button.save}">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{role.edit.button.close}">Close</button>
            </div>
        </div>
    </div>
</div>

<footer th:replace="navigation :: footer"/>

</body>
</html>
