<!--/*@thymesVar id="user" type="org.nrg.xnat.workflows.flowable.data.security.UserPrincipal"*/-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:include="navigation :: headerFragment">
    <title id="pageTitle" th:text="#{users.title}">Users</title>
</head>

<body>

<nav th:include="navigation :: topbar"/>

<div sec:authorize="!hasAuthority('administrator')">
    <p th:text="#{users.denied}">You don't have access to view this page.</p>
</div>
<div sec:authorize="hasAuthority('administrator')">
    <div class="container">
        <div class="row">
            <div class="col-lg-14">
                <div class="account-wall">
                    <table id="users" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <caption th:text="#{users.table.caption}">Projects</caption>
                        <thead>
                        <tr>
                            <th th:text="#{users.table.column.username}">Username</th>
                            <th th:text="#{users.table.column.fullName}">Full Name</th>
                            <th th:text="#{users.table.column.email}">Email</th>
                            <th th:text="#{users.table.column.enabled}">Enabled?</th>
                            <th th:text="#{users.table.column.created}">Created</th>
                            <th th:text="#{users.table.column.lastModified}">Last Modified</th>
                            <th th:text="#{users.table.column.roles}">Roles</th>
                            <th th:text="#{users.table.column.groups}">Groups</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th th:text="#{users.table.column.username}">Username</th>
                            <th th:text="#{users.table.column.fullName}">Full Name</th>
                            <th th:text="#{users.table.column.email}">Email</th>
                            <th th:text="#{users.table.column.enabled}">Enabled?</th>
                            <th th:text="#{users.table.column.created}">Created</th>
                            <th th:text="#{users.table.column.lastModified}">Last Modified</th>
                            <th th:text="#{users.table.column.roles}">Roles</th>
                            <th th:text="#{users.table.column.groups}">Groups</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="userEditModal" tabindex="-1" role="dialog" aria-labelledby="userEditModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h5 class="modal-title" id="userEditModalLabel" th:text="#{users.edit.title}">User</h5>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <label for="username" th:text="#{users.edit.label.username}">Username</label>
                        <input type="text" class="form-control" id="username"
                               th:placeholder="#{users.edit.placeholder.username}" placeholder="Enter username"/>
                    </div>
                    <div class="form-group">
                        <label for="fullname" th:text="#{users.edit.label.fullname}">Full name</label>
                        <input type="text" class="form-control" id="fullname"
                               th:placeholder="#{users.edit.placeholder.fullname}" placeholder="Enter full name"/>
                    </div>
                    <div class="form-group">
                        <label for="email" th:text="#{users.edit.label.email}">Email address</label>
                        <input type="email" class="form-control" id="email"
                               th:placeholder="#{users.edit.placeholder.email}" placeholder="Enter email"/>
                    </div>
                    <div class="form-group">
                        <label for="password" th:text="#{users.edit.label.password}">Password</label>
                        <input type="password" class="form-control" id="password"
                               th:placeholder="#{users.edit.placeholder.password}" placeholder="Password"/>
                    </div>
                    <div class="form-group">
                        <label for="groups" th:text="#{users.edit.label.groups}">Groups</label>
                        <input type="text" class="form-control" id="groups"
                               th:placeholder="#{users.edit.placeholder.groups}"
                               placeholder="Start typing a group name..."/>
                    </div>
                    <div class="form-group">
                        <label for="roles" th:text="#{users.edit.label.roles}">Roles</label>
                        <input type="text" class="form-control" id="roles"
                               th:placeholder="#{users.edit.placeholder.roles}"
                               placeholder="Start typing a role name..."/>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="enabled"/> <span
                                th:text="#{users.edit.label.enabled}">Enabled</span>
                        </label>
                        <label>
                            <input type="checkbox" id="credsnotexpired"/> <span
                                th:text="#{users.edit.label.credsnotexpired}">Credentials not expired</span>
                        </label>
                        <label>
                            <input type="checkbox" id="acctunlocked"/> <span
                                th:text="#{users.edit.label.acctunlocked}">Account unlocked</span>
                        </label>
                        <label>
                            <input type="checkbox" id="acctnotexpired"/> <span
                                th:text="#{users.edit.label.acctnotexpired}">Account not expired</span>
                        </label>
                    </div>
                </form>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <button id="save-user" type="button" class="btn btn-primary" th:text="#{users.edit.button.save}">Save
                </button>
                <button id="cancel-user" type="button" class="btn btn-default" data-dismiss="modal"
                        th:text="#{users.edit.button.close}">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<nav th:replace="navigation :: scripts"/>

<script>
    var roles = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        prefetch: {
            url: '/idm/roles',
            filter: function (list) {
                return $.map(list, function (role) {
                    return {name: role};
                });
            }
        }
    });
    roles.initialize();
    var groups = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        prefetch: {
            url: '/idm/groups',
            filter: function (list) {
                return $.map(list, function (group) {
                    return {name: group};
                });
            }
        }
    });
    groups.initialize();
    $('#save-user').click(function (e) {
        var modalBody = $('#userEditModal').find('.modal-body');
        var username = modalBody.find('#username').val();

        $.ajax({
            url: '/idm/users/' + username,
            type: 'PUT',
            dataType: "JSON",
            data: {
                username: modalBody.find('#username').val(),
                fullName: modalBody.find('#fullName').val(),
                email: modalBody.find('#email').val(),
                password: modalBody.find('#password').val(),
                enabled: modalBody.find('#enabled').prop('checked'),
                credentialsNonExpired: modalBody.find('#credentialsNonExpired').prop('checked'),
                accountNonLocked: modalBody.find('#accountNonLocked').prop('checked'),
                accountNonExpired: modalBody.find('#accountNonExpired').prop('checked'),
                groups: modalBody.find('#groups').val().split(','),
                roles: modalBody.find('#roles').val().split(',')
            },
            success: function () {
                $.bootstrapGrowl("User " + username + " successfully updated.",
                    {
                        type: 'success',
                        align: 'center',
                        width: 'auto'
                    });
            },
            error: function (e) {
                $.bootstrapGrowl("<p>Unable to save changes to user " + username + ": " + e.status + " " + e.responseJSON.error + "</p><p>" + e.responseJSON.message + "</p>",
                    {
                        type: 'danger',
                        align: 'center',
                        width: 'auto',
                        allow_dismiss: false
                    });
            }
        });
    });
    $(document).ready(function () {
        var $users = $('#users');
        $users.on('init.dt', function () {
            $('.data-newuser')
                .attr('data-toggle', 'modal')
                .attr('data-target', '#userEditModal');
        });
        $users.DataTable({
            ajax: {url: "/idm/users", dataSrc: ""},
            dom: 'Bfrtip',
            buttons: [
                {
                    text: 'New user',
                    action: function (e, dt, node, config) {
                    },
                    className: 'btn btn-primary btn-sm data-newuser'
                }
            ],
            columns: [
                {data: "username"},
                {data: "fullName"},
                {data: "email"},
                {data: "enabled"},
                {data: "created"},
                {data: "lastModified"},
                {data: "roles"},
                {data: "groups"}
            ],
            columnDefs: [
                {
                    targets: 0,
                    data: "username",
                    render: function (data, type, row, meta) {
                        return '<button id="' + data + '" class="btn btn-sm btn-link" data-toggle="modal" data-target="#userEditModal">' + data + '</button>';
                    }
                },
                {
                    targets: 6,
                    data: "roles",
                    render: function (data, type, row, meta) {
                        var roles = data.map(function (role) {
                            return role.name;
                        }).join(",");
                        return '<input id="' + row.username + '-roles" type="text" class="tag-collection" value="' + roles + '" data-role="tagsinput" />';
                    }
                },
                {
                    targets: 7,
                    data: "groups",
                    render: function (data, type, row, meta) {
                        var groups = data.map(function (group) {
                            return group.name;
                        }).join(",");
                        return '<input id="' + row.username + '-groups" type="text" class="tag-collection" value="' + groups + '" data-role="tagsinput" />';
                    }
                }
            ],
            initComplete: function (settings, json) {
                $('input.tag-collection').tagsinput('refresh');

                var api = this.api();

                // Initialize Typeahead plug-in
                $('.dataTables_filter input[type="search"]', api.table().container())
                    .typeahead({
                            source: function (query, process) {
                                $.getJSON('https://api.myjson.com/bins/6hnjb', {q: query}, function (data) {
                                    return process(data);
                                });
                            },
                            afterSelect: function (value) {
                                api.search(value).draw();
                            }
                        }
                    );
            }
        });
        $('#userEditModal').on('show.bs.modal', function (e) {
            var username = e.relatedTarget.id;

            $.ajax({
                cache: false,
                type: 'GET',
                url: '/idm/users/' + username,
                success: function (data) {
                    var modalBody = $('#userEditModal').find('.modal-body');
                    modalBody.find('#username').val(data.username);
                    modalBody.find('#fullName').val(data.fullName);
                    modalBody.find('#email').val(data.email);
                    modalBody.find('#password').val(data.password);
                    modalBody.find('#enabled').prop('checked', data.enabled);
                    modalBody.find('#credentialsNonExpired').prop('checked', data.credentialsNonExpired);
                    modalBody.find('#accountNonLocked').prop('checked', data.accountNonLocked);
                    modalBody.find('#accountNonExpired').prop('checked', data.accountNonExpired);
                    var groups = modalBody.find('#groups');
                    groups.val(data.groups.map(function (group) {
                        return group.name;
                    }).join(","));
                    var roles = modalBody.find('#roles');
                    roles.val(data.roles.map(function (role) {
                        return role.name;
                    }).join(","));
                    groups.tagsinput('refresh');
                    roles.tagsinput('refresh');
                }
            });
        });
    });
</script>

<footer th:replace="navigation :: footer"/>

</body>
</html>
