<!--/*@thymesVar id="user" type="org.nrg.xnat.workflows.flowable.data.security.UserPrincipal"*/-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="navigation :: headerFragment">
    <title id="pageTitle" th:text="#{workbench.title}">Workbench</title>
</head>

<body>

<nav th:include="navigation :: topbar"/>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-sm-2 col-sm-offset-2">
            <div class="account-wall">
                <table id="projects" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <caption th:text="#{workbench.browser.caption}">Data Browser</caption>
                    <thead>
                    <tr>
                        <th th:text="#{workbench.browser.column.name}">Name</th>
                        <th th:text="#{workbench.browser.column.type}">Type</th>
                        <th th:text="#{workbench.browser.column.tags}">Tags</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th th:text="#{workbench.projects.column.name}">Name</th>
                        <th th:text="#{workbench.browser.column.type}">Type</th>
                        <th th:text="#{workbench.projects.column.tags}">Tags</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<nav th:replace="navigation :: scripts"/>

<script>
    $(document).ready(function () {
        var parameters = new URLSearchParams(window.location.search);
        $('#projects').DataTable({
            ajax: {
                url: parameters.has("type") ? "/data/tree/" + parameters.get('type') + "/" + parameters.get('id') : "/data/tree",
                dataSrc: ""
            },
            columns: [
                {data: "name"},
                {data: "singleTypeName"},
                {data: "tags"}
            ],
            columnDefs: [
                {
                    targets: 0,
                    data: "name",
                    render: function (data, type, row, meta) {
                        return '<button id="node-' + row.type + '-' + data + '" class="btn btn-sm btn-link btn-browser" data-type="' + row.type + '" data-id="' + row.id + '">' + data + '</button>';
                    }
                },
                {
                    targets: 2,
                    data: "tags",
                    render: function (data, type, row, meta) {
                        var tags = data.map(function (tag) {
                            return tag.name;
                        }).join(",");
                        return '<input id="' + row.id + '-tags" type="text" class="tag-collection" value="' + tags + '" data-role="tagsinput" />';
                    }
                }
            ],
            initComplete: function (settings, json) {
                $('input.tag-collection').tagsinput('refresh');
                $('.btn-browser').on('click', function (event) {
                    window.location.search = encodeSearchParams({
                        type: $(event.target).data('type'),
                        id: $(event.target).data('id')
                    });
                });
            }
        });
    });
</script>

<footer th:replace="navigation :: footer"/>

</body>
</html>
